<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="In the realm of zeros and ones, I sculpt ideas into code, breathe life into designs, and turn visions into virtual reality.">
    <meta name="keywords" content="Graphic Design, UI/UX Design, Web Design, Print Design, Branding Visual, Identity Typography, Illustration, Motion Graphics, Front-end Development, Back-end Development, Full Stack Development, Responsive Web Design, Mobile App Development, Database Management, API Integration, Code Optimization">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Joshtecs, Joseph, Muhanguzi">
    <meta name="og:title" content="Joshtecs one stop platform for all Tech Solution">
    <meta name="og:description" content="Dive into a world of innovation and expertise where we seamlessly blend cutting-edge technology with tailored solutions. Whether you're seeking web development, software solutions, or tech consultancy, Joshtecs is your go-to destination.">
    <meta name="og:image" content="../public/img/App Logo_page-0001.jpg">
    <meta name="googlebot" content="index, follow">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="msapplication-TileImage" content="../public/img/App Logo_page-0001.jpg">
    <meta name="google-site-verification" content="zZs6EdFUa0R6yIiJSmsm5KZzwPxMdmzvaq6IgJ3yF98" />


    <title>Joshtecs one stop platform for all Tech Solution</title>
</head>
<body>
    <h1>Hello</h1>
</body>
</html>